@import url("https://fonts.googleapis.com/css2?family=PT+Serif&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "PT Serif", serif;
  overflow-x: hidden;
  background-color: #333;
  color: #222;

}

.container {
   background: #fafafa;
   transform-origin: top left;
   transition: transform 0.5s linear;
   width: 100vw;
   min-height: 100vh;
   padding: 50px;
}

.container.show-nav {
   transform: rotate(-20deg );
}

.circle-container {
     position: fixed;
}
